// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@red-color: @syntax-color-removed;
@green-color: @syntax-color-added;
@blue-color: @syntax-color-renamed;

atom-text-editor::shadow {
    .gutter .line-number {
        &.line-number-green {
            color: #fff;
            background-color: @green-color;
        }

        &.line-number-blue {
            color: #fff;
            background-color: @blue-color;
        }

        &.line-number-red {
            color: #fff;
            background-color: @red-color;
        }
    }

    .line {
        &.line-green {
            background-color: @green-color;
        }

        &.line-blue {
            background-color: @blue-color;
        }

        &.line-red {
            background-color: @red-color;
        }
    }

    .highlight-green .region {
        background-color: @green-color;
    }

    .highlight-blue .region {
        background-color: @blue-color;
        border: 5px solid blue;
    }

    .highlight-red .region {
        background-color: @red-color;
        border: 5px solid red;
    }

    .remoteCursor {
        border-left: 2px solid orange;
        position: relative;
    }
}

ul.members {
    list-style: none;
    padding: 0px;
    display: inline-block;
}
li.member {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

ul.members {
    list-style: none;
    padding: 0px;
    display: inline-block;
    li.member {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;

        .user {
            font-size: 1em;
            display: inline-block;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);

            &.typing {
                -webkit-animation: jiggle 0.2s infinite;
                -moz-animation-duration: 0.2s;
                -moz-animation-name: jiggle;
                -moz-animation-iteration-count: infinite;
                -webkit-transform: rotate(-3deg);
                -moz-transform: rotate(-3deg);
            }

            &.typing::after {
                content: '...';
            }
            &.typed::after {
                content: '...'
            }
        }
    }
}
@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
    }
    50% {
        -moz-transform: rotate(1deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
}
